body {
  background-color: #87ceeb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  padding: 8px;
  background-color: #c9e9f6;
}

li.navbar, .closeContainer {
  display: inline;
  float: right;
  padding-right:15px;
  padding-top: 10px;
}

.modalClose {
  border: 0px;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 40px;
  background-color: #45b3e0;
  color: #c9e9f6;
  transform: rotate(45deg);
  transition: 0.5s;
}

.modalClose:hover {
  transition: 0.5s;
  font-weight: bold;
  font-size: 50px;
}

.budgetLabel {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}

.itemCard, .card {
  transition: 0.3s;
  min-width: 100px;
  max-width: 150px;
  max-height: 100px;
  border: 5px #c9e9f6 solid;
  display: inline-block;
  padding-right: 8px;
  background-color: #45b3e0;
}

.budgetCard {
  transition: 0.3s;
  min-width: 100px;
  max-height: 110px;
  border: 5px #c9e9f6 solid;
  display: inline-block;
  padding-right: 8px;
  background-color: #45b3e0;
}

.welcomeCard {
  border: 5px #c9e9f6 solid;
  display: inline-block;
  padding-right: 8px;
  background-color: #45b3e0;
}

.budgetInfoCard, .budgetCalcCard {
  transition: 0.3s;
  border: 5px #c9e9f6 solid;
  display: inline-block;
  padding-right: 8px;
  background-color: #45b3e0;
  text-align: left;
}

.budgetCard:hover, .card:hover {
  background-color: #c9e9f6;
  color: #87ceeb;
}

.container, .loginContainer, .itemContainer, .registerContainer, .budgetContainer, .loginContainer, .welcomeContainer, .budgetCalcInfoContainer, .newItemForm {
  padding: 2px 5px;
  text-align: center;
  display: table;
  width: 100%;
}

.closeContainer {
  padding-bottom: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.budgetInfoContainer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  max-width: 150px;
  text-align: center;
  display: table;
  width: 140px;
}

.itemContainer {
  padding: 2px 5px;
  text-align: center;
  display: table;
  width: 140px;
}

.viewBudget, .delete {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 49%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  background-color: white
}

.addItemButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  background-color: white
}

.submitItem, .closeCreate {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  background-color: #45b3e0;
}

.newBudget {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 200px  ;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 60px;
  background-color: white
}

.viewBudget:hover, .newBudget:hover, .addItemButton:hover, .submitItem:hover {
  box-shadow: 0 8px 16px 0 #87ceeb;
  background-color: #4CAF50;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.budgetContainer:hover span, .budgetContainer:hover label, .budgetContainer:hover{
  font-size: 15px;
  color: black;
  font-weight: bold;

}

.logout {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 80px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 50px;
  background-color: #45b3e0;
  color: #f3fafd;
  border: 3px solid #c9e9f6;
}

.logout:hover {
  background-color: red;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.budgetContainer:hover {
  background-color: #c9e9f6;
  color: white;
}

.delete:hover, .closeCreate:hover {
  box-shadow: 0 8px 16px 0 #87ceeb;
  background-color: red;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: 700ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.login {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 80px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 30px;
  background-color: #c9e9f6;
}

.constructionButton, .register {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 80px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 30px;
  background-color: #45b3e0;

}

.login:hover {
  font-size: 15px;
  color: black;
  font-weight: bold;
  background-color: #c9e9f6; 
}

.register:hover, .constructionButton:hover {
  font-size: 15px;
  color: black;
  font-weight: bold;
  background-color: #c9e9f6; 
}

.loginCard {
  transition: 0.3s;
  background-color: #45b3e0;
  display: inline-block;
  border: 15px #c9e9f6 solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 25%;
  height: 33%;
  text-align: center;
  vertical-align: middle;
}

.newItemForm  {
  transition: 0.3s;
  background-color: #45b3e0;
  display: inline-block;
  border: 5px #c9e9f6 solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 88%;
  text-align: center;
  vertical-align: middle;
}

.registerCard {
  transition: 0.3s;
  background-color: #c9e9f6;
  display: inline-block;
  border: 15px #45b3e0 solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 25%;
  height: 33%;
  text-align: center;
  vertical-align: middle;
}

.income {
  font-size: 20px;
  text-decoration: underline;
}

.info {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.itemsAndGraphContainer, .budgetTotalsContainer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.budgetGraph {
  width: 700px;
  /*background-color: #c9e9f6;*/
}

.image {
  max-width: 500px;
  max-height: 500px;
}

.construction {
  transition: 0.3s;
  background-color: #c9e9f6;
  display: inline-block;
  border: 15px #45b3e0 solid;
  text-align: center;
  padding: 10px;
  width: 75%;
  height: 33%;
  text-align: center;
  vertical-align: middle;
}

.itemEditButton, .itemDeleteButton {
  height: 0px;
  width: 0px;
  padding: 0px;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}



.itemCard:hover button.itemEditButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 49%;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: auto;
  background-color: #4CAF50;
  opacity: 1;
}

.itemCard:hover button.itemDeleteButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 44%;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: auto;
  background-color: red;
  opacity: 1;
}

.itemCard:hover {
  background-color: #c9e9f6;
  color: #c9e9f6;
  max-width: 130px;
  border: solid #c9e9f6 5px;
  padding-left: 10px;
  padding-right: -10px
}

.itemButtonContainer {
  display: flex;
  justify-content: space-around;
}


.overspent {
  color: #ab0000;
  text-decoration-color: #ab0000;
  font-size: 20px;
}















